{
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 200,
  "semi": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto"
}